---

- stat: path=/opt/local/share/elasticsearch
  register: elasticsearch_path

- include: install.yml
  when: (not elasticsearch_path.stat.exists)

- template: src=me.elasticsearch.plist dest=/Library/LaunchAgents/me.elasticsearch.plist
  sudo: yes
  notify:
    - start elasticsearch
